<!DOCTYPE html>
<html>
<head>
    <title>WindFriends</title>
    <link rel="stylesheet" href="../static/main.css" />
</head>
<body>
    <nav class="top-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/new_meeting">New Meeting</a></li>
            <li><a href="/register">Register</a></li>
            {% if session.username %}
                <li><a href="/user/{{ session.user_id }}">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
