{% extends "base.html" %}
{% block content %}
    <div class="centered-app">
    <h1>Edit meeting</h1>
    <form action="/update_meeting" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
        <p>Give your suggestion a name.</p>
        <label for="title">Title</label><br />
        <input id="title" type="text" name="title" value='{{meeting.title}}'/>
    </p>
    <p>
        <p>What gear do you use?</p>
        <label for="gear">Gear</label><br />
        <input id="gear" type="text" name="gear" value='{{meeting.gear}}'/>
    </p>
    <p>
        <p>When do you want to meet?</p>
        <label for="date">Date</label><br />
        <input id="date" type="datetime-local" name="date" value='{{meeting.date}}'>
    </p>
    <p>
        <p>How windy is it? (1 = calm, 5 = stormy)</p>
        <label for="wind_speed">Wind speed</label><br />
        <input id="wind_speed" type="range" name="wind_speed" min="1" max="5" value="{{ meeting.wind_speed }}">
    </p>
    <p>
        <p>Who are you? What do you want to do?</p>
        <label for="description">Description</label><br />
        <textarea id='description' name='description' rows="5" cols="40">{{meeting.description}}</textarea>
    </p>
    <p>
        <p>Add tags separated by commas (e.g. energetic, fun, chill)</p>
        <label for="tags">Vibe tags</label><br />
        <input id="tags" type="text" name="tags" value="{{ meeting.tags }}" placeholder="e.g. energetic, fun, chill (optional)" />
    </p>
    <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
    <input type="submit" value="Update meeting" />
    <br>
    <br>
    <a href="/" class="button">Cancel</a>
  </form>
  </div>
{% endblock %}