{% extends "base.html" %}
{% block content %}
    <div class="centered-app">
    <h1>Edit meeting</h1>
    <form action="/update_meeting" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
        Title: <br />
        <p>Give your suggestion a name.</p>
        <input type="text" name="title" value='{{meeting.title}}'/>
    </p>
    <p>
        Gear: <br />
        <p>What gear do you use?</p>
        <input type="text" name="gear" value='{{meeting.gear}}'/>
    </p>
    <p>
        Date: <br />
        <p>When do you want to meet?</p>
        <input type="datetime-local" name="date" value='{{meeting.date}}'>
    </p>
    <p>
        Wind speed: <br />
        <p>How windy is it? (1 = calm, 5 = stormy)</p>
        <input type="range" name="wind_speed" min="1" max="5" value="{{ meeting.wind_speed }}">
    </p>
    <p>
        Description: <br />
        <p>Who are you? What do you want to do?</p>
        <textarea name='description' rows="5" cols="40">{{meeting.description}}</textarea>
    </p>
    <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
    <input type="submit" value="Update meeting" />
    <br>
    <br>
    <a href="/" class="button">Cancel</a>
  </form>
  </div>
{% endblock %}