<!DOCTYPE html>
<html>

<head>
  <title>WindFriends</title>
</head>

<body>
    <h1>WindFriends</h1>
    {% if session.username %}
    <p>
        Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id }}
    </p>
    <p>
        <a href="/logout">Kirjaudu ulos</a>
    </p>
    <h2>Meetings</h2>
    <ul>
        {%for meeting in meetings%}
        <li>
            <a href="/meeting/{{meeting.id}}">{{meeting.title}}</a>
        </li>
        {%endfor%}
    </ul>
    <p>
        <a href="/new_meeting">Suggest a meeting</a>
    </p>
    {% else %}
    <p>
        Log in to view and suggest meetings
    </p>
    <form action="/login" method="post">
        <p>
        Tunnus: <br />
        <input type="text" name="username" required/>
        </p>
        <p>
        Salasana: <br />
        <input type="password" name="password" required/>
        </p>
        <input type="submit" value="Kirjaudu" />
    </form>
    <p>
        <a href='/register'>Register</a>
    </p>
    {% endif %}

    </body>

    </html>
