{% extends "base.html" %}
{% block content %}
    <div class="centered-app">
    <h1>WindFriends</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if register_success %}
        <p class="success">Registered successfully! You can now log in below:</p>
    {% endif %}
    {% if session.username %}
    <p>
        Signed in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
    <div>
        <h2>Meetings</h2>
        <p>Most recent meetings</p>
        {% if meetings|length == 0 %}
            <p>No meetings yet</p>
        {% else %}
            <div class="meeting-list">
                {% for meeting in meetings %}
                <div class="meeting-card">
                    <div>
                        <a href="/meeting/{{ meeting.id }}">{{ meeting.title }}</a><br />
                        <span class="meeting-date">{{ meeting.date|finnish_datetime}} by <a href="/user/{{ meeting.user_id }}">{{ meeting.username }}</a></span>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% else %}
    <h3>Welcome to WindFriends! View and suggest meetings, meet new people. </h3>
    <h3>Which gear do you prefer? What's your favorite weather to surf? Let's enjoy the wind together!</h3>
    <p>
        Log in below to view and suggest meetings
    </p>

    <form action="/login" method="post">
        <p>
        Username: <br />
        <input type="text" name="username"/>
        </p>
        <p>
        Password: <br />
        <input type="password" name="password"/>
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Login" />
    </form>
    <p>If you don't have an account yet, register below</p>
    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>
    {% endif %}
    </div>
{% endblock %}
