{% extends "base.html" %}
{% block content %}
    <div class="centered-app">
    <h1>New meeting</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    <form action="/create_meeting" method="POST">
    <div>
        <h3>Title:</h3>
        <p>Give your suggestion a name.</p>
        <input type="text" name="title"/>
    </div>
    <div>
        <h3>Gear:</h3>
        <p>What gear do you use?</p>
        <input type="text" name="gear"/>
    </div>
    <div>
        <h3>Date:</h3>
        <p>When do you want to meet?</p>
        <input type="datetime-local" name="date">
    </div>
    <div>
        <h3>Description:</h3>
        <p>Who are you? What do you want to do?</p>
        <textarea name='description' rows="5" cols="40"></textarea>
    </div>
    <br>
    <input type="submit" value="Suggest" class='suggest-button'/>
    <br>
    <br>
    <a href="/" class="button">Cancel</a>
  </form>
  </div>
{% endblock %}