{% extends "base.html" %}
{% block content %}
    <div class="centered-app">
    <h1>New meeting</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    <form action="/create_meeting" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <div>
        <h3>Title:</h3>
        <p>Give your suggestion a name.</p>
        <label for="title">Title</label><br />
        <input id="title" type="text" name="title"/>
    </div>
    <div>
        <h3>Gear:</h3>
        <p>What gear do you use?</p>
        <label for="gear">Gear</label><br />
        <input id="gear" type="text" name="gear"/>
    </div>
    <div>
        <h3>Date:</h3>
        <p>When do you want to meet?</p>
        <label for="date">Date</label><br />
        <input id="date" type="datetime-local" name="date">
    </div>
    <div>
        <h3>Wind speed:</h3>
        <p>How windy is it? (1 = calm, 5 = stormy)</p>
            <label for="wind_speed">Wind speed</label><br />
            <input id="wind_speed" type="range" name="wind_speed" min="1" max="5" value="3">
    </div>
    <div>
        <h3>Description:</h3>
        <p>Who are you? What do you want to do?</p>
        <label for="description">Description</label><br />
        <textarea id='description' name='description' rows="5" cols="40"></textarea>
    </div>
    <div>
        <h3>Vibe tags:</h3>
        <p>
            Add tags! Do you want the meeting to be energetic or calm? Fun? Exciting? Whatever you can think of!<br>
            Enter tags separated by commas (e.g. energetic, fun, chill)
        </p>
        <label for="tags">Vibe tags</label><br />
        <input id="tags" type="text" name="tags" placeholder="e.g. energetic, fun, chill (optional)"/>
    </div>
    <br>
    <input type="submit" value="Suggest" class='suggest-button'/>
    <br>
    <br>
    <a href="/" class="button">Cancel</a>
  </form>
  </div>
{% endblock %}