<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>
  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}
  {% if success %}
    <p style="color:green;">{{ success }}</p>
  {% endif %}
  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" required/>
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" required/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
   <p>
        <a href="/">back</a>
    </p>
</body>

</html>