<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="../static/main.css" />
</head>

<body>
  <div class="centered-app">
  <h2>Register</h2>
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  {% if success %}
    <p class="success">{{ success }}</p>
  {% endif %}
  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username"/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1"/>
    </p>
    <p>
      Password again: <br />
      <input type="password" name="password2"/>
    </p>
    <input type="submit" value="Create user" />
  </form>
  <a href="/" class="button">Back</a>
  </div>
</body>

</html>