{% extends "base.html" %}
{% block content %}
  <div class="centered-app">
  <h2>Register</h2>
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  {% if success %}
    <p class="success">{{ success }}</p>
  {% endif %}
  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username"/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1"/>
    </p>
    <p>
      Password again: <br />
      <input type="password" name="password2"/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Create user" />
  </form>
  <br>
  <a href="/" class="button">Back</a>
  </div>
{% endblock %}