<div>
  <h2>Search meetings</h2>
  <p>Search meetings by keyword and view all available meetings</p>
  <link rel="stylesheet" href="../static/main.css" />
  <form action="/search" method="get">
    {% if show_keyword %}
    <p>
      Key word:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    {% endif %}
    <input type="submit" value="Search" />
  </form>
</div>

{% if show_all_meetings_header is not defined or show_all_meetings_header %}
  <h2>{% if query %}Search results{% else %}All meetings{% endif %}</h2>
{% endif %}
<div class="meeting-list">
  {% if results|length == 0 %}
    <p>No results found</p>
  {% else %}
    {% for result in results %}
      <div class="meeting-card">
        <div>
          <a href="/meeting/{{ result.id }}">{{ result.title }}</a><br />
          <span class="meeting-date">{{ result.date|finnish_datetime }} by <a href="/user/{{ result.user_id }}">{{ result.username }}</a></span>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>