<!DOCTYPE html>
<html>

<head>
  <title>{{ meeting.title }}</title>
  {% if session.user_id == meeting.user_id %}
  <p>
    <a href="/edit_meeting/{{ meeting.id }}">edit</a>
  </p>
  {%endif%}
</head>

<body>
    <h1>{{ meeting.title }}</h1>
    <p>
        Gear: {{ meeting.gear }}
    </p>
    <p>
        Date of the meeting: {{ meeting.date }}
    </p>
    <p>
        Additional information: {{ meeting.description }}
    </p>
    <p>
        Organizer: {{ meeting.username }}
    </p>
    <p>
        <a href="/">back</a>
    </p>
</body>

</html>