{% extends "base.html" %}
{% block content %}
<div class="centered-app">
  <h1>User {{ user.username }}</h1>

  <p>
    {{ user.username }} has suggested {{ meetings|length }} meetings
  </p>

  {% if meetings %}
    <p>
      First meeting suggested: {{ meetings[-1].title }}
    </p>
    <p>
      Last meeting suggested: {{ meetings[0].title }}
    </p>
  {% endif %}

  <h2>{{ user.username }}'s suggestions</h2>
  <ul class="meeting-list">
  {% for meeting in meetings %}
    <li class="meeting-card">
      <a href="/meeting/{{ meeting.id }}">
        {{ meeting.title }}
      </a>
      <br />
      {{ meeting.date|finnish_datetime }}
    </li>
  {% endfor %}
  </ul>
  <a href="/" class="button">Back</a>
</div>
{% endblock %}